.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}
.trybewarts-login {
  display: flex;
}
.trybewarts-login {
  margin-right: 5px;
}
.trybewarts-login button {
  
}
.trybewarts-header-logo {
 
}
main {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
#trybewarts-forms-logo {
  height: 500px;
  float: right;
}

.name-container {
  display: flex;
}

#input-name {
  margin-right: 10px;
}
